*{
	margin: 0;
	padding: 0;
    font-family: "微软雅黑";
    font-size: 0.16rem;
}
html{
    font-size: 100px;
}
a{
	color: #000000;
	text-decoration: none;
}
ul{
	list-style-type: none;
}
img{
	border: 0;      
}
input,textarea{
	outline: none;   
	border: 0;
	padding-left: 4px;
}
input[disabled]{
    background-color: #fff;
}
.container{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* header */
header{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    height: 0.3rem;
    line-height: 0.3rem;
    border-bottom: 0.01rem solid #eee;
    padding: 0.05rem;
}
header span{
    display: inline-block;
    margin-right: 0.15rem;
}
header span:first-child{
    font-size: 0.25rem;
}
/* header */
/* 提现金额 */
.pocket{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-bottom: 0.01rem solid #eee; */
}
.pocket img{
    padding: 0.3rem 0 0.1rem;
    width: 1rem;
}
.pocket p{
    padding-bottom: 0.15rem;
}

.money{
    font-size: 0.18rem;
}
/* 提现金额 */
/* 提现账户信息 */
.list{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    padding: 0 0.1rem;
}
.list li{
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    height: 0.4rem;
    line-height: 0.4rem;
    border: 0.01rem solid #eee;
    padding: 0 0.1rem;
}
.list li input{
    text-align: right;
}
/* 提现账户信息 */
/* 提示 */
.tips{
    width: 100vw;
    padding: 0.1rem 0.2rem;
    box-sizing: border-box;
    color: rgb(255, 51, 51);
    align-items: center;
}
.tips a{
    width: 50%;
    height: 0.4rem;
    border: 0.01rem solid #ccc;
    margin: 0.3rem auto 0.1rem;
    display: block;
    line-height: 0.4rem;
    text-align: center;
}
.tips a.active{
    color: #cac7c7;
    cursor: default;
}
/* 提示 */
/* 提现记录 */
.record{
    padding: 0 0.1rem 1rem;
}
.record div{
    padding: 0 0.2rem 0 0.1rem;
    border: 0.01rem solid #eee;
    line-height: 0.4rem;
}
.time{
    display: inline-block;
    width: 33%;
}
.amount{
    display: inline-block;
    width: 33%;
}
.record table{
    width: 100%;
    border: 0.01rem solid #eee;
    line-height: 0.4rem;
}
.record thead td{
    border-bottom: 0.01rem solid #eee; 
}
.record table tr td{
    padding-left:0.05rem;
}
.record table tr td:first-child{
    width: 36%;
}
.record table tr td:nth-child(2){
    width: 40%;
}
/* 提现记录 */