<!DOCTYPE html>
<html>
<head>
	<title>明星说</title>
</head>
<body>
	<script type="text/javascript" src="/javascripts/jweixin-1.2.0.js"></script>
	<script type="text/javascript">
		
	</script>
</body>
</html>