<!DOCTYPE html>
<html>
<head>
	<title>明星说</title>
</head>
<body>
	<div style="text-align: center;">
		<p style="text-align: center;">关注作者授权公众号继续阅读</p>
		<p style="text-align: center;">由于版权问题，请关注后继续阅读</p>
		<img src="/images/qr/<%= name%>.jpg">
		<p style="text-align: center;">长按上图识别二维码关注</p>
	</div>
	
</body>
</html>