<!DOCTYPE html>
<html>
  <head>
    <title>明星说</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jiazai.min.js"></script>
  </head>
  <body>
  		<form action="/adzone/settao">
  		<div>文本：<input type="text" name="content" value="<%=content%>" style="width: 600px;height: 36px;" /></div>
  		<div>
      <div>口令：<input type="text" name="kouling" value="<%=kouling%>" style="width: 600px;height: 36px;" /></div>
      <div style="margin-top: 10px ">
  			<input type="submit" value="确定" style="width: 120px;height: 50px;background: #61B509;font-size: 20px;margin-top: 10px; ">
  		</div>
  		</form>
  </body>
</html>
